/***************************************
 *  全局样式
 **************************************/
.hidden, .always-hidden {
  display:none
}
::-webkit-scrollbar{
  width:6px;
}
::-webkit-scrollbar-track-piece{
  background:none;
}
::-webkit-scrollbar-thumb {
  background:#DCD9DE;
  border-radius:6px;
}
::-webkit-scrollbar-thumb:hover {
  background:#EAE6EA;
}
/***************************************
 *  弹出层 
 * ************************************/
.ui-state-highlight {
  width:100%;
  height: 30px;
  line-height: 25px;
}
/***************************************
 *  功能侧边栏
 **************************************/
#sidebar {
	position:fixed;
	right:0;
	top:10px;
	width:360px;
	z-index:1;
	padding:10px;
	_position:absolute;
  _top:expression(documentElement.scrollTop);
  color:#FFF;
}
#sidebar h3 {
  font:bold 16px/16px Microsoft Yahei, Simhei;
  color:#FFF;
  text-shadow: 0 -1px 0 #000;
  padding: 0 0 10px;
}
#sidebar hr {
  margin: 0 0 10px;
  border-color: #3D3644;
  box-shadow: 0 1px 0 #978F9E;
}
#cover {
  width:380px;
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
  background:url(eggplant/images/ui-bg_gloss-wave_30_3d3644_500x100.png) repeat-x #3D3644;
  border-radius:10px 0 0 10px;
}
#steps {
  width:360px;
  overflow:hidden;
  margin: 0 0 10px;
}
.step-button {
  width: 116px;
  font-weight:bold;
}
#step-contents {
  width:100%;
  overflow:hidden;
}
#step-contents-container {
  width: 1110px;
}
.step-content {
  width:360px;
  margin:0 10px 0 0;
  float:left;
}
.step-content label {
  font:14px/20px simsun;
  display:block;
  text-shadow: 0 -1px 0 #333;
}
/*-- step 1 CSS List */
#step-content-1 p {
  padding:0 0 10px;
  margin:0;
}
#css-list {
  overflow-y:auto;
  margin:10px 0 0;
}
#css-list li {
  cursor:pointer;
  margin: 0 4px 4px 0;
  display:inline-block;
  position: relative;
}
#css-list li img {
  border: 4px solid #DCD9DE;
  padding: 2px;
  float:left;
}
#css-list li img:hover {
  border-color: #EAE6EA;
}
#css-list li.activated {
  background:#FFF;
}
#css-list li.activated img {
  border-color: #2CC02C;
}
#css-list li.activated img:hover {
  border-color:#2CC02C;
}
#css-list li.activated:after {
  content:url(../images/checkmark2.png);
  position:absolute;
  right:6px;
  bottom:0px;
}

/*-- step 2 elements List */
.elements-thumbs {
  padding:10px !important;
  overflow-x: hidden;
  overflow-y: scroll;
}
.elements-thumbs img {
  width:324px;
  padding:5px 0;
}
/*-- step 3 Properties */
#step-content-3 input, #step-content-3 textarea {
  width: 348px;
  line-height: 20px;
  margin:5px 0 10px;
  padding: 0 5px;
  background:#F0F0F0;
  border-radius: 4px;
  border: 1px solid #666;
  box-shadow: inset 1px 1px 1px #999;
}
/*-- output */
#output {
  margin:10px 0;
  padding: 4px 6px;
  background:#333;
  border-top:1px solid #000;
  border-left:1px solid #000;
  border-right:1px solid #666;
  border-bottom:1px solid #666;
}
/***************************************
 *  按钮
 **************************************/
.big-button {
  width:100px;
  height:35px;
  font:bolder 16px/20px microsoft yahei,simhei;
}
.sidebar-icon-button {
  width:20px !important;
  height:20px;
  position:absolute;
  z-index: 2;
  top:8px;
}
#toggle-panel-button {
  right:10px;
  top:18px;
}
#help-button {
  right:36px;
}
#config-button {
  right: 62px;
}
/***************************************
 *  页面主体部分
 **************************************/
#header {
  margin: 0 0 10px;
}
#page-container {
  width:962px;
  margin:0 auto;
  position: relative;
}
#banner-maker h1 {
  font:bold 20px/30px microsoft yahei
}
.rows .operation-buttons {
  position: absolute;
  left: -25px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}
.rows .up {
  top:0px;
}
.rows .remove {
  top:24px;
}
.rows .down {
  top:48px;
}
.row-item dt {
  line-height:18px;
  cursor:pointer;
}
.row-item > dd {
  min-height:80px;
  background:#EEE url(../images/placeholder.png) center center no-repeat;
}
.row-title {
  border:1px #F99 solid;
  background:#FFC;
  border-radius: 4px;
  padding:0 !important;
  color:#333;
}
.row-drag-hover {
  border:1px solid #F99;
  background:#FF9;
}