body {
  background:#A7A7A7;
  color:#007E9D;
}
a {
  color:#007E9D;
}
a:hover {
  color:#F60;
}

.navi {
  background:url(cuxiaolan/nav.jpg);
}
.navi li{
  width:108px;
  border:none;
  background:url(cuxiaolan/nav1.jpg) top right no-repeat;
}
.navi li, .navi li a {
  font:bold 14px/33px simsun;
  color:#fff;
}
.navi li:hover, .navi li:hover a {
  color:#295D9F;
  background:url(cuxiaolan/navh.jpg);
}
.sub-navi {
  background:url(cuxiaolan/nav.jpg);
}

.rows dl.column-2 {
  width:475px;
}
.rows dl.column-3 {
  width:312px;
}

.row-item {
  background:url(cuxiaolan/a1.jpg) 1px 1px repeat-x;
  border:none;
}
.row-item dt {
  background:url(cuxiaolan/a2.jpg) right no-repeat;
  line-height:31px;
  color:#295D9F;
  border:1px solid #b4d1c7;
  border-bottom:none;
  padding:0 10px;
}
.row-item dd {
  border:#b4d1c7 1px solid;
  background:#f8fafe;
}
.row-item a img {
  border:#c1cfe6 1px solid;
}
.row-item a:hover img {
  border-color:#328AB2;
}

.z1n3 .l{border:#BBDBE4 1px solid;background:#D6E9EE;}
.z1n6 .b{border:#BBDBE4 1px solid;background:#D6E9EE;}
.z1n7 .con{border:#BBDBE4 1px solid;background:#D6E9EE;}
.z1n19 .l{border:#BBDBE4 1px solid;background:#D6E9EE;}
.z1n20{background:url(../images/cuxiaolan/bg.jpg)}
  .z1n20 .t,.z1n20 .r{background:none;}
  .z1n20 .t img{border:1px solid #b4d1c7}

.z2n5 .dl{background:#fff;border:#BBDBE4 1px solid;}
.z2n5 .img{border:none;}
.z2n5 .dt{background:#fff;}

.z3a1 .more,.z3a3 .more{line-height:31px;color:#369;padding:0 60px 0 0}