body{background:#222;}
a{color:#ccc;}
a:hover{color:#ff6600;}
body,td,td,ul,li{color:#aaa}
.zti1 td{color:#aaa;}
.hei12b{color:#eee}

.z0 a img,.z1 a img,.z2 a img,.z3 a img,.z4 a img{border:#3A393E 1px solid;}
.z0 a:hover img,.z1 a:hover img,.z2 a:hover img,.z3 a:hover img,.z4 a:hover img{border:#ff6600 1px solid;}

.nav{padding:0;border-bottom:1px solid #444;width:100%;background:url(../images/dchei/nav.jpg);}
  .nav,.nav a{font:bold 14px/45px simsun;color:#fff;}
  .nav a{width:115px;text-align:center;display:inline-block;}
  .nav a:hover{background:url(../images/dchei/navh.jpg) center bottom;text-decoration:none;font-weight:bold;}

.z0n2 .m dl{border-bottom:#222 1px dotted;}
.z0n2 .r td{border-bottom:#222 1px dotted;}

.z1 dt.z_con,.z2 dt.z_con,.z4 dt.z_con,.z3a1 dt,.z3a2 dt,.z3a3 dt{border:1px solid #444;background:url(../images/dchei/a1.jpg) right;border-bottom:none;font:bold 16px/35px microsoft yahei;color:#eee}
  .z1 dt.z_con{width:938px;}
  .z2 dt.z_con{background:url(../images/dchei/a2.jpg);width:453px;}
  .z4 dt.z_con{width:292px;}
.z0 dd.z_con,.z1 dd.z_con,.z2 dd.z_con,.z4 dd.z_con,.z3a1 dd,.z3a2 dd,.z3a3 dd{background:#000;border:1px solid #444;}

.z1n3 .l{border:#222 1px solid;background:#222;}
.z1n6 .b{border:#222 1px solid;background:#222;}
.z1n7 .con{border:#222 1px solid;background:#222;}
.z1n19 .l{border:#222 1px solid;background:#222;}
.z1n20{background:url(../images/dchei/bg.jpg) left bottom no-repeat}
  .z1n20 .t,.z1n20 .r{background:none;}
.z1n25 .r,.z1n26 .r,.z1n27 .r{border-left:#222222 1px solid;background:#222;}

.z2n5 dl{border:#222 1px solid;background:#222;}
.z2n5 dt{background:#222;}

.z3a1,.z3a2,.z3a3{background:#000;border:none}
.z3a1 .more,.z3a3 .more{line-height:35px}