body {
  background:#222;
  color:#AAA;
}
a {
  color:#CCC;
}
a:hover {
  color:#F60;
}

.navi {
  border-bottom:1px solid #444;
  background:url(dchei/nav.jpg);
}
.navi li {
  width:115px;
  border:none;
  background:none;
}
.navi li, .navi li a {
  font:bold 14px/45px simsun;
  color:#fff;
}
.navi li:hover, .navi li:hover a {
  background:url(dchei/navh.jpg) center bottom;
  font-weight:bold;
}

.rows dl.column-2 {
  width:475px;
}
.rows dl.column-3 {
  width:312px;
}

.row-item {
  border:none;
}
.row-item dt {
  border:1px solid #444;
  border-bottom:none;
  background:url(dchei/a1.jpg) right;
  font:bold 16px/35px microsoft yahei;
  color:#EEE;
  padding: 0 10px;
}
.row-item dd {
  background:#000;
  border:1px solid #444;
}
.row-item a img {
  border:#3A393E 1px solid;
}
.row-item a:hover img {
  border-color:#C30;
}


.z1n3 .l{border:#222 1px solid;background:#222;}
.z1n6 .b{border:#222 1px solid;background:#222;}
.z1n7 .con{border:#222 1px solid;background:#222;}
.z1n19 .l{border:#222 1px solid;background:#222;}
.z1n20{background:url(dchei/bg.jpg) left bottom no-repeat}
  .z1n20 .t,.z1n20 .r{background:none;}
.z1n25 .r,.z1n26 .r,.z1n27 .r{border-left:#222222 1px solid;background:#222;}

.z2n5 dl{border:#222 1px solid;background:#222;}
.z2n5 dt{background:#222;}

.z3a1,.z3a2,.z3a3{background:#000;border:none}
.z3a1 .more,.z3a3 .more{line-height:35px}