body {
  background:#E7E7E7;
  color:#DB889A;
}
a {
  color:#7D172E;
}
a:hover {
  color:#CB3A5B;
}

.navi {
  padding:0 0 4px;
  background:url(lovered/nav.jpg);
}
.navi li {
  width:115px;
  border:none;
  background:url(lovered/nav1.gif) top right no-repeat;
}
.navi li, .navi li a {
  font:bold 14px/40px microsoft yahei,simhei;
  color:#FFF;
}
.navi li:hover, .navi li:hover a {
  background:url(lovered/nav1.gif) top right no-repeat;
  color:#F4C177;
}
.sub-navi {
  background:url(lovered/nav.jpg);
}

.rows dl.column-2 {
  width:475px;
}
.rows dl.column-3 {
  width:312px;
}

.row-item {
  border:none;
}
.row-item dt {
  color:#fff;
  background:#F6DCE2 url(lovered/a1.jpg) right;
  line-height:31px;
  padding: 0 10px;
}
.row-item dd {
  border:#9b9b9b 1px solid;
  background:#fff;
}
.row-item a img {
  border:#EBBACE 1px solid;
}
.row-item a:hover img {
  border-color:#EC76A1;
}

  
.z0n2 .m dl{border-bottom:#ddd 1px dotted;}
.z0n2 .r td{border-bottom:#ddd 1px dotted;}

.z1n3 .l{border:#ECB4C0 1px solid;background:#F9EAEE;}
.z1n6 .b{border:#ECB4C0 1px solid;background:#F9EAEE;}
.z1n7 .zt_tb td{border:#ECB4C0 1px solid;background:#F9EAEE;}
.z1n19 .l{border:#ECB4C0 1px solid;background:#F9EAEE;}
.z1n20{background:url(lovered/bg.jpg)}
  .z1n20 .t,.z1n20 .r{background:none}

.z2n5 dl{border:#ECB4C0 1px solid;background:#F9EAEE;}
.z2n5 img{border:none;}
.z2n5 dt{background:#fff;}

.z3a1,.z3a2,.z3a3{background:#F6DCE2;border:none}
.z3a1 .more,.z3a3 .more{line-height:31px;padding:0 25px 0 0}