body{background:#0EA0DD;}
a{color:#0E79AF;}
a:hover{color:#ff6600;}
.zti1 td{color:#043F6B;}

.z0 dd.z_con,.z1 dd.z_con{background:url(../images/lsimg/a4.jpg) no-repeat #D3EDFC;color:#043F6B;}
.z0 b{color:#043F6B}
.z0 a{color:#0E79AF;}
.z0 a:hover{color:#ff6600;}
.z0 a img,.z0 a img{border:#43B0DB 1px solid;}
.z0 a:hover img,.z0 a:hover img{border:#2C99C4 1px solid;}

.z1 dt.z_con,.z2 dt.z_con{background:#D3EDFC url(../images/lsimg/a2.jpg) no-repeat;line-height:35px;color:#043F6B;}
.z1 b,.z2 b{color:#043F6B;}
.z1 a img,.z2 a img{border:#7BC8E6 1px solid;background:#fff;}
.z1 a:hover img,.z2 a:hover img{border:#ff6600 1px solid;}

.z1n3 .l{border:#7ED2F6 1px solid;background:#fff;}
.z1n6 .b{background:#ABDBEF;}
.z1n7 .con{border:#7ED2F6 1px solid;background:#fff;}
.z1n19 .l{border:#7ED2F6 1px solid;background:#fff;}

.z2 dd.z_con{background:#fff}
.z2n5 dl{border:#fff 1px solid;background:#fff;}
.z2n5 dt{background:#C1E3F2;}