body {
  background:#657427;
  color:#8A957A;
}
a {
  color:#680;
}
a:hover {
  color:#F60;
}

.navi {
  padding:0 5px;
  background:url(techhui/nav.jpg) center top;
}
.navi li {
  width:110px;
  background:url(techhui/nav1.jpg) top right no-repeat;
  padding:0 3px 0 0;
  border:none;
}
.navi li, .navi li a {
  font:bold 14px/41px simsun;
  color:#000;
}
.navi li:hover, .navi li:hover a {
  color:#333;
  background:url(techhui/navh.jpg);
}
.sub-navi {
  background:url(techhui/nav.jpg);
}

.rows dl.column-2 {
  width:475px;
}
.rows dl.column-3 {
  width:312px;
}

.row-item {
  background:url(lusimg/a1.jpg);
  border:none;
}
.row-item dt {
  background:url(lusimg/a2.jpg) right no-repeat;
  font:bold 16px/37px microsoft yahei;
  color:#FFF;
  padding:0 10px;
}
.row-item dd {
  background:#FCFDF6;
  border:#E8F2C3 1px solid;
}
.row-item a img {
  border:#A9D10B 1px solid;
}
.row-item a:hover img {
  border-color:#91B601
}

.z1n3 .l{border:#CDDC94 1px solid;background:#F1F5DF;}
.z1n6 .b{background:#F1F5DF;border:#CDDC94 1px solid;}
.z1n7 .con{border:#CDDC94 1px solid;background:#F1F5DF;}
.z1n19 .l{border:#CDDC94 1px solid;background:#F1F5DF;}
.z1n20{background:#FCFDF6}

.z2n5 dl{border:#fff 1px solid;background:#fff;}
.z2n5 dt{background:#F1F5DF;}

.z3a1 .more,.z3a3 .more{line-height:37px}