/* = 照搬WordPress的reset
 * ----------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
  outline: 0;
}
body {
  background: #fff;
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  font-weight: normal;
  text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
a img {
  border: 0;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {  display: block;}

/* = 一般通用
 * ----------------------------------- */
body, input, textarea {
  font:12px/18px simsun
}
a {
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}
.clr {
  zoom:1;
}
.clr:after {
  clear:both;
  visibility: hidden;
  display: block;
  height: 0;
  line-height: 0;
  content: "";
}
.bai14 {
  font-size:14px;
  color:#FFF;
}

/* = 页面结构
 * ----------------------------------- */
.rows {
  position:relative;
  margin: 0 0 10px;
  zoom: 1;
}
.row-item {
  border: 1px solid #CCC;
}
.row-item dt {
  padding:5px;
  font: bold 14px/20px Microsoft Yahei;
  background: #DDD;
}
.no-title dt {
  display:none;
}
.rows dl.column-2 {
  width:473px;
  margin:0 10px 0 0;
  float:left;
}
.rows dl.column-3 {
  width:310px;
  margin: 0 12px 0 0;
  float:left;
}
.rows dl.last-column {
  margin: 0;
}
.rows dd {
  background:#FFF;
}

.navi {
  width:100%;
  zoom:1;
  background:#F0F0F0;
  margin:0 0 10px;
}
.navi:after {
  clear:both;
  visibility: hidden;
  display: block;
  height: 0;
  line-height: 0;
  content: "";
}
.navi a {
  color:#333;
  text-decoration: none;
}
.navi a:hover {
  color:#222;
  text-decoration: underline;
}
.navi li {
  color:#666;
  width: 200px;
  font: bold 14px/30px Simsun;
  text-align: center;
  float: left;
  background: -webkit-linear-gradient(top, #F0F0F0, #DDD);
  border-right:1px solid #CCC;
  border-left:1px solid #FFF;
  cursor:pointer;
  position:relative;
}
.navi li:hover {
  background: #F0F0F0;
}
.navi li ul {
  display:none;
}
.navi li:hover ul {
  display:block;
}
.navi .add-item-button {
  text-indent: -999px;
  overflow: hidden;
}
.navi .add-icon {
  width: 16px;
  height: 16px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-8px;
  margin-left:-8px;
  display:block;
  text-indent:-999px;
  overflow:hidden;
  background: transparent url(../css/eggplant/images/ui-icons_734d99_256x240.png) no-repeat 0 -192px;
}
.sub-navi {
  position: absolute;
}
.link-editor-window label {
  width:60px;
  padding:0 6px 0 0;
  text-align:right;
  display:inline-block;
}
.link-editor-window input {
  background:#333;
  color:#FFF;
  width:200px;
  line-height:18px;
  margin: 0 0 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #000 #666 #666 #000;
}
.link-editor-window select {
  background:#333;
  color:#FFF;
  border-width: 1px;
  border-style: solid;
  border-color: #000 #666 #666 #000;
}
