body {
  background:#C66;
  color:#FFF;
}
a {
  color:#FFF;
}
a:hover {
  color:#CB3A5B;
}

.navi {
  background:url(lovered/nav.jpg)
}
.navi li{
  width:115px;
  border:none;
  background:url(lovered/nav1.gif) top right no-repeat;
}
.navi li, .navi li a {
  font:bold 14px/40px microsoft yahei,simhei;
  color:#fff;
}
.navi li:hover, .navi li:hover a {
  background:url(lovered/nav1.gif) top right no-repeat;
  color:#F4C177;
}
.sub-navi {
  background: url(lovered/nav.jpg);
}

.rows dl.column-2 {
  width:475px;
}
.rows dl.column-3 {
  width:312px;
}

.row-item {
  border:none;
  background:url(red/a1.jpg) no-repeat;
}
.row-item dt {
  background:url(red/a2.jpg) right no-repeat;
  font:bold 20px/59px microsoft yahei,simhei;
  color:#FFF;
  padding:0 20px;
}
.row-item dd {
  border:#F0C7D0 1px solid;
  background:#F6DCE2;
}
.row-item a img {
  border:#EBBACE 1px solid;
}
.row-item a:hover img {
  border-color:#EC76A1;
}

.z1n3 .l{border:#ECB4C0 1px solid;background:#F9EAEE;}
.z1n6 .b{border:#ECB4C0 1px solid;background:#F9EAEE;}
.z1n7 .con{border:#ECB4C0 1px solid;background:#F9EAEE;}
.z1n19 .l{border:#ECB4C0 1px solid;background:#F9EAEE;}
.z1n20{background:#F6DCE2;}

.z2n5 dl{border:#ECB4C0 1px solid;background:#F9EAEE;}
.z2n5 img{border:none;}
.z2n5 dt{background:#fff;}

.z3a1 .more,.z3a3 .more{line-height:59px}