body{background:#125a8b;}
a{color:#0E79AF;}
a:hover{color:#ff6600;}
.zti1 td{color:#043F6B;}

.z0 a img,.z1 a img,.z2 a img,.z3 a img,.z4 a img{border:#43B0DB 1px solid;}
.z0 a:hover img,.z1 a:hover img,.z2 a:hover img,.z3 a:hover img,.z4 a:hover img{border:#2C99C4 1px solid;}

.nav{padding:0;border-bottom:1px solid #77a3ba;width:100%;background:url(../images/zdc2/a2.jpg);}
  .nav,.nav a{font:bold 14px/39px simsun;color:#000;}
  .nav a{width:114px;text-align:center;display:inline-block;border-right:1px solid #77a3ba;}
  .nav a:hover{color:#fff;background:#7ca7bd;text-decoration:none}

.z1 dl.z_con{width:100%}
.z1 dl.z_con,.z2 dl.z_con,.z4 dl.z_con,.z3a1,.z3a2,.z3a3{background:url(../images/slan/a1.jpg)}
  .z3a1{width:360px}
  .z3a2{width:220px}
  .z3a3{width:730px}
.z1 dt.z_con,.z2 dt.z_con,.z4 dt.z_con,.z3a1 dt,.z3a2 dt,.z3a3 dt{background:url(../images/slan/a2.jpg) right no-repeat;line-height:30px;color:#fff;padding:0 10px 0 35px}
  .z1 dt.z_con{width:915px;}
  .z2 dt.z_con{width:430px}
  .z4 dt.z_con{width:269px}
  .z3a1,.z3a2,.z3a3,.z3a1 dt,.z3a2 dt,.z3a3 dt{border:none}
.z0 dd.z_con,.z1 dd.z_con,.z2 dd.z_con,.z4 dd.z_con,.z3a1 dd,.z3a2 dd,.z3a3 dd,.z1n20{border:1px solid #3182ba;background:#D3EDFC;}

.z1n3 .l{border:#7ED2F6 1px solid;background:#fff;}
.z1n6 .b{background:#ABDBEF;}
.z1n7 .con{border:#7ED2F6 1px solid;background:#fff;}
.z1n19 .l{border:#7ED2F6 1px solid;background:#fff;}
.z1n20{background:url(../images/zdc2/bg.jpg)}
  .z1n20 .t,.z1n20 .r{background:none}

.z2n5 dl{border:#fff 1px solid;background:#fff;}
.z2n5 dt{background:#C1E3F2;}

.z3a1 .more,.z3a3 .more{line-height:30px;color:#369}
  .z3a1 .more:hover,.z3a3 .more:hover{color:#f60}
