body {
  background:#125A8B;
}
a {
  color:#0E79AF;
}
a:hover {
  color:#F60;
}

.navi {
  border-bottom:1px solid #77a3ba;
  background:url(zdc2/a2.jpg);
}
.navi li {
  width:120px;
  background:none;
  border-right:1px solid #77a3ba;
}
.navi li,.navi li a {
  font:bold 14px/39px simsun;
  color:#000;
}
.navi li:hover, .navi li:hover a {
  color:#fff;
  background:#7ca7bd;
}
.sub-navi {
  background:#FFF;
}

.rows dl.column-2 {
  width:475px;
}
.rows dl.column-3 {
  width:312px;
}

.row-item {
  background:url(slan/a1.jpg) no-repeat;
  border:none;
}
.row-item dt {
  background:url(slan/a2.jpg) right no-repeat ;
  line-height:30px;
  color:#FFF;
  padding:0 10px 0 35px
}
.row-item dd {
  border:1px solid #3182ba;
  background:#D3EDFC;
}
.row-item a img {
  border:#43B0DB 1px solid;
}
.row-item a:hover img {
  border-color:#2C99C4;
}


.z1n3 .l{border:#7ED2F6 1px solid;background:#fff;}
.z1n6 .b{background:#ABDBEF;}
.z1n7 .con{border:#7ED2F6 1px solid;background:#fff;}
.z1n19 .l{border:#7ED2F6 1px solid;background:#fff;}
.z1n20{background:url(zdc2/bg.jpg)}
  .z1n20 .t,.z1n20 .r{background:none}

.z2n5 dl{border:#fff 1px solid;background:#fff;}
.z2n5 dt{background:#C1E3F2;}

.z3a1 .more,.z3a3 .more{line-height:30px;color:#369}
  .z3a1 .more:hover,.z3a3 .more:hover{color:#f60}
