body {
  background:#666;
}
a {
  color:#000;
}
a:hover {
  color:#F60;
}

.navi {
  background:url(techhui/nav.jpg) center top;
}
.navi li{
  width:110px;
  border:none;
  background:url(techhui/nav1.jpg) top right no-repeat;
  padding:0 3px 0 0;
}
.navi li,.navi li {
  font:bold 14px/40px simsun;
  color:#000;
}
.navi li:hover, .navi li:hover a {
  color:#333;
  background:url(techhui/navh.jpg);
}
.sub-navi {
  background:url(techhui/nav.jpg)
}

.rows dl.column-2 {
  width:475px;
}
.rows dl.column-3 {
  width:312px;
}

.row-item {
  background:url(techhui/a1.jpg);
  border:none;
}
.row-item dt {
  padding:0 0 0 55px;
  background:url(techhui/a2.jpg) right no-repeat;
  line-height:36px;
  color:#000
} 
.row-item dd {
  background:#FDFDFD;
}
.row-item a img {
  border:#999 1px solid;
}
.row-item a:hover img {
  border-color:#333;
}

.z1n3 .l{border:#C1C1C1 1px solid;background:#fff;}
.z1n7 .con{border:#C1C1C1 1px solid;background:#fff;}
.z1n19 .l{border:#C1C1C1 1px solid;background:#fff;}
.z1n20{background:url(../images/techhui/bg.jpg)}
  .z1n20 .t img{border:1px solid #999}
  .z1n20 .t,.z1n20 .r{background:none}

.z3a1 .more,.z3a3 .more{line-height:36px;padding:0 15px;color:#666}
  .z3a1 .more:hover,.z3a3 more:hover{color:#f60}
