body{background:#3E2911;}
a{color:#433822;}
a:hover{color:#4A350A;}

.z0 a img,.z1 a img,.z2 a img,.z3 a img,.z4 a img{border:#fff 1px solid;}
.z0 a:hover img,.z1 a:hover img,.z2 a:hover img,.z3 a:hover img,.z4 a:hover img{border:#ddd 1px solid;}

.z0n2 .m dl{border-bottom:#6D5335 1px dotted;}
.z0n2 .r td{border-bottom:#6D5335 1px dotted;}

.z1 dt.z_con,.z2 dt.z_con,.z4 dt.z_con,.z3a1 dt,.z3a2 dt,.z3a3 dt{background:#D1C6B1 url(../images/ynimg/a2.jpg);line-height:60px;color:#816235;padding:0 10px 0 50px;}
  .z1 dt.z_con{width:900px}
  .z2 dt.z_con{background-image:url(../images/ynimg/a5.jpg);width:415px}
  .z4 dt.z_con{width:254px}
.z0 dd.z_con,.z1 dd.z_con,.z2 dd.z_con,.z4 dd.z_con,.z3a1 dd,.z3a2 dd,.z3a3 dd,.z1n20{background:#D1C6B1;border:1px solid #ccbea3}
  .z3a1,.z3a2,.z3a3,.z3a1 dt,.z3a2 dt,.z3a3 dt{border:none}
  .z3a1{width:360px}
  .z3a2{width:220px}
  .z3a3{width:730px}

.z1n3 .l{border:#BBAB8C 1px solid;background:#E2D5B8;}
.z1n6 .b{background:#E2D5B8;border:#978166 1px solid;}
.z1n7 .con{border:#978166 1px solid;background:#E2D5B8;}
.z1n19 .l{background:#E2D5B8;border:#978166 1px solid;}
  .z1n20 .t,.z1n20 .r{background:#dcb}

.z2n5 dl{background:#E2D5B8;}
.z2n5 img{border:none;}
.z2n5 dt{background:#F8F1E1;}

.z3a1 .more,.z3a3 .more{line-height:60px;color:#816235}
  .z3a1 .more:hover,.z3a3 .more:hover{color:#f60}
